.admin-page {
  padding: 1em;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-page > h3 {
  margin-bottom: 2em;
}

.detail-page {
  padding: 1em;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-page > .detail-hub-info {
  width: 50%;
  border-radius: 5px;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  padding: 10px;
}

.detail-hub-info > button {
  float: right;
}

.admin-hub-info {
  overflow-y: auto;
  height: 300px;
}

.admin-hub-info thead th {
  background-color: #20c997;
  color: #ffffff;
  position: sticky;
  top: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.admin-hub-info thead tr {
  background-color: #20c997;
  color: #ffffff;
  text-align: left;
}

.admin-hub-info th,
.admin-hub-info td {
  padding: 12px 15px;
}

.admin-hub-info tbody tr {
  border-bottom: 1px solid #b8b7b7;
}

.admin-hub-info tbody tr:nth-of-type(even) {
  background-color: #e8e8e8;
}

.admin-hub-info tbody tr:last-of-type {
  border-bottom: 2px solid #d6d6d6;
}

.detail-style {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #001242;
  color: #001242;
  padding: 8px;
  margin-left: 7px;
  text-align: center;
}

.new-hub-form {
  border-radius: 5px;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.detail-page > .update-hub-form {
  float: left;
  width: 50%;
  border-radius: 5px;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.space-style {
  margin-top: 15px;
}
.form-head {
  border-bottom: 2px solid #001242;
  font-size: 1.5em;
}
form {
  overflow: hidden;
}
input {
  float: right;
  clear: both;
  margin: 2px;
}
.new-hub-form > form > div > label {
  margin-top: 15px;
  margin-right: 3px;
}

.update-hub-form > form > div > label {
  margin-top: 10px;
  margin-right: 3px;
}

.header {
  font-size: 1.5em;
}

dt {
  font-size: 1.2em;
  font-weight: 300;
}

dd {
  color: #000000;
  margin: 0 0 50px 0;
  font-size: 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 #dcdcdc;
}

.header {
  background-color: #20c997;
  color: white;
  margin-bottom: 3px;
}

.warning {
  color: red;
}
