$primary: #001242 !default;
$secondary: #118DE8 !default;
$light: #4EE9A4 !default;

@import "standard";

@font-face {
  font-family: "Work Sans";
  src:  url("/fonts/WorkSans-Regular.ttf"),
        url("/fonts/WorkSans-SemiBold");
}

//$headings-font-family: "Work Sans";

h1 h2 h3 h4 h5 h6 button {
  font-family: 'Work Sans', WorkSans-SemiBold;
}

h6 {
  font-size: 1.1rem;
}

body {
  font-family: 'Work Sans', WorkSans-Regular;
}

.card {
  border-radius: 10px;
}

.btn-rounded {
  border-radius: 25px;
}

.outlog_button .d {
  fill: $white!important;
}

.light-speech .d {
  fill: $light!important;
}

.white-speech .d {
  fill: $white!important;
}

.primary-speech .d {
  fill: $primary!important;
}

.secondary-speech .d {
  fill: $secondary!important;
}