# Ignore editor files.
/.idea
/.ropeproject/
*.DS_Store
pubhubs_hub/report.xml
client-config.local.js
.vscode
.python-version
*.code-workspace

# Playwright local state
hub-client/playwright_login_token.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/.auth/
