{
	"printWidth": 240,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": false,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@hub-client/assets/(.*)$",
		"^@hub-client/components/(.*)$",
		"^@hub-client/composables/(.*)$",
		"^@hub-client/locales/(.*)$",
		"^@hub-client/logic/(.*)$",
		"^@hub-client/models/(.*)$",
		"^@hub-client/pages/(.*)$",
		"^@hub-client/plugins/(.*)$",
		"^@hub-client/services/(.*)$",
		"^@hub-client/stores/(.*)$",
		"^@hub-client/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
