@tailwind base;
@tailwind components;
@tailwind utilities;

/*
This is the 'default branding' of a hub.
These colors should be the same as the global color palette (--ph-...), see tailwind.css in global client)
todo: use the global color palette as a default. Not trivial because of iframes.
*/
:root {
	--hub-background: #ffffff;
	--hub-background-2: #f9f9f9;
	--hub-background-3: #e2e2e2;
	--hub-background-4: #d4d4d4;
	--hub-background-5: #b6b6b6;
	--hub-background-6: #7e7e7e;
	--hub-text: #000000;
	--hub-accent: #00adee;
	--hub-accent-2: #001242;
	/* Some of the pubhubs-made icons will have additional accent colors */
	--hub-accent-icon: #999999;
}

.dark {
	--hub-background: #464545;
	--hub-background-2: #323232;
	--hub-background-3: #2f2e2e;
	--hub-background-4: #686868;
	--hub-background-5: #202020;
	--hub-background-6: #202020;
	--hub-text: #ffffff;
	--hub-accent: #00adee;
	--hub-accent-2: #4ee9a4;
	--hub-accent-icon: #d9d9d9;
}

html,
body,
#app {
	width: 100;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'atkinson_hyperlegibleregular';
}

*,
*:focus {
	outline: none;
}

:root {
	/* !The colors below are deprecated. Please use the color palette. See above. */
	--black: #000;

	--white: #fff;
	--white-middle: #e7e3e3;

	--lightgray-light: #ececec;
	--lightgray: #e2e2e2;
	--lightgray-dark: #d4d4d4;

	--gray-lighter: #ccc;
	--gray-light: #aaa;
	--gray: #686868;
	--gray-middle: #464545;
	--gray-dark: #3d3c3c;
	--gray-darker: #2f2e2e;

	--green-lighter: #00ee98;
	--green-light: #7ee6a9;
	--green: #5ec269;
	--green-dark: #3ea439;
	--green-darker: #1c8217;

	--blue-lighter: #67e8f9;
	--blue-light: #00adee;
	--blue: #408be1;
	--blue-dark: #001242;

	--red-light: #ff3333;
	--red: #ff0000;
	--red-dark: #660000;
}

@font-face {
	font-display: swap;
	font-family: 'work_sansregular';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/worksans-regular.eot');
	src:
		url('./fonts/worksans-regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/worksans-regular.woff2') format('woff2'),
		url('./fonts/worksans-regular.woff') format('woff'),
		url('./fonts/worksans-regular.ttf') format('truetype'),
		url('./fonts/worksans-regular.svg#work_sansregular') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'work_sanssemibold';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/worksans-semibold.eot');
	src:
		url('./fonts/worksans-semibold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/worksans-semibold.woff2') format('woff2'),
		url('./fonts/worksans-semibold.woff') format('woff'),
		url('./fonts/worksans-semibold.ttf') format('truetype'),
		url('./fonts/worksans-semibold.svg#work_sanssemibold') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'atkinson_hyperlegibleregular';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Atkinson-Hyperlegible-Regular-102.eot');
	src:
		url('./fonts/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
		url('./fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
		url('./fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
		url('./fonts/Atkinson-Hyperlegible-Regular-102.svg#atkinson_hyperlegibleregular') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'notocoloremoji';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/NotoColorEmoji-Regular.ttf') format('truetype');
}

@layer components {
	.emoji-font {
		font-family: notocoloremoji;
	}

	.scrollbar-emojipicker {
		scrollbar-width: auto;
		scrollbar-color: theme(colors.gray.light) theme(colors.gray.DEFAULT);
	}

	.scrollbar-emojipicker::-webkit-scrollbar {
		@apply bg-gray rounded-lg w-3;
	}

	.scrollbar-emojipicker::-webkit-scrollbar-thumb {
		@apply bg-gray-light rounded-lg min-h-8;
	}
}
