@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --black: #000;

    --white: #FFF;
    --white-middle: #E7E3E3;

		--gray-lighter2: #ECECEC;
    --gray-lighter: #CCC;
    --gray-light: #AAA;
    --gray: #686868;
    --gray-middle: #464545;
    --gray-dark: #3D3C3C;
    --gray-darker: #2F2E2E;

    --green-lighter: #00EE98;
    --green-light: #7EE6A9;
    --green: #5EC269;
    --green-dark: #3EA439;
    --green-darker: #1C8217;

    --blue-lighter: #67e8f9;
    --blue-light: #00ADEE;
    --blue: #408BE1;
    --blue-dark: #001242;

    --red-light: #ff3333;
    --red: #ff0000;
    --red-dark: #660000;
}

html,
body,
#app {
	width: 100;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: 'atkinson_hyperlegibleregular';
}

*,
*:focus {
	outline: none;
}

@font-face {
	font-display: swap;
	font-family: 'work_sansregular';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/worksans-regular.eot');
	src: url('./fonts/worksans-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/worksans-regular.woff2') format('woff2'), url('./fonts/worksans-regular.woff') format('woff'),
		url('./fonts/worksans-regular.ttf') format('truetype'), url('./fonts/worksans-regular.svg#work_sansregular') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'work_sanssemibold';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/worksans-semibold.eot');
	src: url('./fonts/worksans-semibold.eot?#iefix') format('embedded-opentype'), url('./fonts/worksans-semibold.woff2') format('woff2'), url('./fonts/worksans-semibold.woff') format('woff'),
		url('./fonts/worksans-semibold.ttf') format('truetype'), url('./fonts/worksans-semibold.svg#work_sanssemibold') format('svg');
}

@font-face {
	font-display: swap;
	font-family: 'atkinson_hyperlegibleregular';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Atkinson-Hyperlegible-Regular-102.eot');
	src: url('./fonts/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'), url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), url('./fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
		url('./fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'), url('./fonts/Atkinson-Hyperlegible-Regular-102.svg#atkinson_hyperlegibleregular') format('svg');
}
